.leaflet-container {
  width: 300px;
  height: 100%;
}

.map1 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100;
  width: 1vw;

  margin-right: 0vw;
  margin-top: 0vw;
}

.dive {
  display: flex;
  flex-direction: row;
}

div.map1.leaflet-container.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag {
  height: 70%;
  width: 100%;
  margin-top: 5vh;
}

div.react-datepicker__time-box {
  display: flex;
}

ul.react-datepicker__time-list {
  flex-direction: column;
}

span.MuiSlider-root.MuiSlider-colorPrimary {
  width: 50vw;

  margin-top: 6vh;
}
