.leaflet-container {
  width: 100%;
  height: 100%;
}
.map {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 70%;
  margin-left: 15vw;
  margin-top: 6vw;
}

.dive {
  display: flex;
  flex-direction: row;
  height: 87%;
  width: 100%;
}
